<div id="main-header" class="main-header">
  {% if site.search_enabled != false %}
    {% include components/search_header.html %}
  {% else %}
    <div></div>
  {% endif %}

  <!-- Logo section -->
  <div class="logo-container">
    <a href="{{ site.baseurl | default: '/' }}">
      <img src="{{ site.baseurl }}/assets/images/uilogo.png" alt="Website Logo" class="site-logo">
    </a>
  </div>

  {% include header_custom.html %}
  {% if site.aux_links %}
    {% include components/aux_nav.html %}
  {% endif %}
</div>
